rpm_model/rpm_figures_old/*
style_transfer/data/*
style_transfer/logs/*
style_transfer/scripts_old/*
upvote_prediction/data/*
upvote_prediction/logs/*
upvote_prediction/slurm_scripts/*
upvote_prediction/src_upvote_prediction/*
upvote_prediction/upvote_prediction_models/*
upvote_prediction/upvote_prediction_models_filter/*
upvote_prediction/wandb/*